.button {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #7159c1;
  color: #fff;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #6755a38e, 0 0 0 4px #6755a38e;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
